.per-contact{
    background-color: black;  
    text-align: center;
    color: grey;
    border-radius: 1em;
    border: none solid .5px;
    width: 40%;
    margin-bottom: 20px;
    padding: 1em;
    transition: background 0.5s ease-in-out;
}

.per-contact p:hover ,a:hover{
    cursor: pointer;
    color: white;
}

.per-contact img{
    width: 30px;
}
.contacts-parent{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

.per-contact:hover{
    background-color: #0000;
    border: black solid .1em;
}

.contact-form{
    display: flex;
    justify-content: space-around;

    
}

@media(max-width: 800px){
        .contact-form{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .per-contact{
            width: 20em;
        }
    
}