
.first-section{
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
@keyframes slide-in {

  0%{
    right: 55em;
    ; opacity: 20;
  }
  50%{
    right: 55em;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
.about{
  color: #777;
  margin-right: .7em;
}
.slide-in{
  width: 100%;
  animation: slide-in  1.75s forwards;

}
.about-me{
  margin-left: 2em;
  margin-top: 20px;
  width: 50%;
  font-size: 15px;
  word-spacing: 1px;
}
.black-developer{
  width: 20em;
  border-radius: 50%;
}
.second-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

@media (max-width: 400px){
  .black-developer{
       width: 10em;

  }
}





