footer{
    background-color: #5b5b5b;
    text-align: center;
    color: black;
    margin-top: 2em;

}

.footer-links{
    display: grid;
    grid-auto-flow: column;   
    gap: 1px;
}
.footer-links a{
    
}

@media(max-width: 400px) {
    .footer-links{
      grid-auto-flow: row;
    }
}