footer{
    background-color: #5d0000;
    text-align: center;

}

.footer-links{
    display: flex;
    justify-content: center;
}
.footer-links a{
    margin-left: 1.5em;
}

@media(max-width: 400px) {
    .footer-links{
        flex-direction: column;
    }
}