.App{
    background-color: #111;
    color: #aaa;
}

.line{
    width: 80%;
    height: 2px;
    background-color: #aaa;
    color:#aaa;
    font-size: 2px;
    border: 2px;
    display: block;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
body{

    scroll-behavior: smooth;
    overflow-y: auto;
}




