.App{
    scroll-behavior: smooth;
    background-color: #000000;
    color: #aaa;
}

.contents{
    background-color: #000;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

.line{
    width: 80%;
    height: 2px;
    background-color: #aaa;
    color:#aaa;
    font-size: 2px;
    border: 2px;
    display: block;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
body{
    scroll-behavior: smooth;
    overflow-y: auto;
    background-color: #111;
}

.newTopic{
    
}

.topics{
    display: grid;
    justify-content: center;
    width: 100%;
    margin: 6em auto 1em auto;
    text-align: center;
    
}





